
/*MOBILE PORTRAIT*/
@media only screen and (max-width: 600px) and (orientation: portrait) {
	/*  TAGS  */

		body {
			margin-top: 0px;
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			padding: 0px;
		}

		/*https://codepen.io/daviddarnes/pen/OgaRYw*/
		h2 {
			text-decoration: none;
			position: relative;
			padding-bottom: 1em;
			overflow: hidden;
			color: black;
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				white-space: nowrap;
				content: attr(data-text)attr(data-text);
				color: transparent;
				line-height: 1.8;
				text-decoration: underline;
				text-decoration-style: wavy;
				text-decoration-color: #ffc823;
			}
			&:hover:after {
				animation: wavy-slide 3s linear infinite;
			}
		}

	/*  CLASS  */
		.navbar-color {

		}

		.transparent {
			opacity: 0.5;
			filter: alpha(opacity=50); 
		}

		.overflow-auto {
			overflow: auto;
		}

		.throw-bottom {
			vertical-align:bottom;
	        border:0;
		}

		.jarallax {
			position: relative;
			z-index: 0;
		}

		.jarallax > .jarallax-img {
			position: absolute;
			object-fit: cover;
			/* support for plugin https://github.com/bfred-it/object-fit-images */
			font-family: 'object-fit: cover;';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		.navbar-inner {
    		background:transparent;
		}

		.introduction {
			background-color: #E4FFD9;
		}

		.the-problem {
			background-color: #DF3244;
			padding-top: 7vh;
			height: 80vh;
			margin-bottom: 0;
		}

		.our-solution {
			background-color: #FF9900;
			padding-top: 7vh;
			height: 110vh;
		}

		.overflow-hidden { 
			overflow: hidden;
		}

		.conclusion {
			background-color: #FFC166;
			margin-top: -40vh;
			padding-top: 7vh;
			height: 90vh;
		}

		.splash {
			height: 100vh;
			width: 100%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: relative;
			background-color: #E4FFD9;
		}

	/*  ID  */
		
		#splashImage {
			max-width: 100%;
		}

		#project-title { 
			color: #809D76;
		}

		#project-subtitle {
			color: #809D76;	
		}

		#footer { 
			background-color:  #FFC166;
		}

		#redContainer {
			background-color: #DF3244;
		}

		#orangeContainer {
			background-color: #FF9900;
		}

		#creamContainer { 
			background-color: #FFC166;
		}

		#indexnav {
			background-color: #E4FFD9;
		}
}

/*MOBILE LANDSCAPE*/
@media only screen and (max-width: 736px) and (orientation: landscape) {
	/*  TAGS  */
		body {
			margin-top: 0px;
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			padding: 0px;
		}

		/*https://codepen.io/daviddarnes/pen/OgaRYw*/
		h2 {
			text-decoration: none;
			position: relative;
			padding-bottom: 1em;
			overflow: hidden;
			color: black;
			&:after {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				white-space: nowrap;
				content: attr(data-text)attr(data-text);
				color: transparent;
				line-height: 1.8;
				text-decoration: underline;
				text-decoration-style: wavy;
				text-decoration-color: #ffc823;
			}
			&:hover:after {
				animation: wavy-slide 3s linear infinite;
			}
		}

	/*  CLASS  */
		.navbar-color {
			
		}

		.transparent {
			opacity: 0.5;
			filter: alpha(opacity=50); 
		}

		.overflow-auto {
			overflow: auto;
		}

		.throw-bottom {
			vertical-align:bottom;
	        border:0;
		}

		.jarallax {
			position: relative;
			z-index: 0;
		}

		.jarallax > .jarallax-img {
			position: absolute;
			object-fit: cover;
			font-family: 'object-fit: cover;';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		.introduction {
			background-color: #E4FFD9;
		}

		.the-problem {
			background-color: #DF3244;
			padding-top: 7vh;
			height: 100vh;
			margin-bottom: 0;
		}


		.our-solution {
			background-color: #FF9900;
			padding-top: 7vh;
			height: 120vh;
		}

		.overflow-hidden { 
			overflow: hidden;
		}

		.conclusion {
			background-color: #FFC166;
			margin-top: -55vh;
			padding-top: 7vh;
			height: 90vh;
		}

		.splash {
			height: 100vh;
			width: 100%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: relative;
			background-color: #E4FFD9;
		}

		.wonkfix {
			/*width: 20px;*/
		}


	/*  ID  */
		
		#splashImage {
			width: 50%;
		}

		#project-title { 
			color: #809D76;
		}

		#project-subtitle {
			color: #809D76;	
		}

		#footer { 
			background-color:  #FFC166;
		}

		#redContainer {
			background-color: #DF3244;
		}

		#orangeContainer {
			background-color: #FF9900;
		}

		#creamContainer { 
			background-color: #FFC166;
		}

		#indexnav {
			background-color: #E4FFD9;
		}
}

/*DESKTOP OR TABLET*/
@media only screen and (min-width: 737px) {
	/*  TAGS  */

		body {
			margin-top: 0px;
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			padding: 0px;
		}

		/*https://codepen.io/daviddarnes/pen/OgaRYw*/
		h2 {

			text-decoration: none;
			position: relative;
			padding-bottom: .5em;
			overflow: hidden;
			text-decoration: underline;
			text-decoration-style: wavy;
			text-decoration-color: #ffc823;
		}



	/*  CLASS  */

		.navbar-color {
			
		}

		.transparent {
			opacity: 0.5;
			filter: alpha(opacity=50); 
		}
		.overflow-auto {
			overflow: auto;
		}

		.throw-bottom { 
			vertical-align:bottom;
	        border:0;
		}

		.jarallax {
			position: relative;
			z-index: 0;
		}

		.jarallax > .jarallax-img {
			position: absolute;
			object-fit: cover;
			/* support for plugin https://github.com/bfred-it/object-fit-images */
			font-family: 'object-fit: cover;';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		.introduction {
			background-color: #E4FFD9;
		}

		.the-problem {
			background-color: #DF3244;
			padding-top: 5vh;
			height: 30vh;
			margin-bottom: 0;
		}

		.our-solution {
			background-color: #FF9900;
			padding-top: 5vh;
			height: 50vh;
			margin-bottom: 0;
		}

		.overflow-hidden { 
			overflow: hidden;
		}

		.conclusion {
			background-color: #FFC166;
			margin-top: -18vh;
			padding-top: 5vh;
			height: 50vh;
			overflow: hidden;
		}

		.splash {
			height: 100vh;
			width: 100%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: relative;
			background-color: #E4FFD9;
		}

		.wavy {
			text-decoration-style: 
		}

	/*  ID  */

		#splashImage {  }

		#indexnav {
			background-color: #E4FFD9;
		}

		#project-title { 
			color: #809D76;
		}

		#project-subtitle {
			color: #809D76;	
		}

		#footer { 
			background-color:  #FFC166;
		}

		#redContainer {
			background-color: #DF3244;
		}

		#orangeContainer {
			background-color: #FF9900;
		}

		#creamContainer { 
			background-color: #FFC166;
		}
}

		@keyframes wavy-slide {
			to {
				margin-left: -51%;
			}
		}
