
/*MOBILE PORTRAIT*/
@media only screen and (max-width: 600px) and (orientation: portrait) {
	/*  TAGS  */

		body {
			margin-top: 0px;
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			padding: 0px;
		}

		/*https://codepen.io/daviddarnes/pen/OgaRYw*/
		h2 {
			text-decoration: underline wavy;
			text-decoration-color: #ffc823;
		}

	/*  CLASS  */
		.navbar-color {
			background-color: #DF3243;
		}

		.background-red {
			background-color: #F35867;
		}

		.background-orange {
			background-color: #E77E34;
		}

		.background-blue {
			background-color: #209181;
		}

		.background-green {
			background-color: #63D24C;
		}

		.background-green-light{
			background-color: #89E176;
		}

		.text-red {
			color: #DF3243 !important;
		}

		.text-red-light {
			color: #F9828D !important;
		}

		.text-orange {
			color: #E77E34 !important;
		}

		.text-orange-light {
			color: #FFB886 !important;
		}

		.text-blue {
			color: #209181 !important;
		}

		.text-blue-light {
			color: #63BCB0 !important;
		}

		.text-green {
			color: #63D24C !important;
		}

		.text-green-light {
			color: #89E176 !important;
		}

		.color-red {
			color: #DF3243;
		}

		.color-red-light {
			color: #F9828D;
		}

		.color-red-midlight {
			color: #F35867;
		}

		.color-red-middark {
			color: #BD1323;
		}

		.color-red-dark {
			color: #960311;
		}

		.color-orange {
			color: #E77E34;
		}

		.color-orange-light {
			color: #FFB886;
		}

		.color-orange-midlight {
			color: #FB9D5B;
		}

		.color-orange-middark {
			color: #C45D14;
		}

		.color-orange-dark {
			color: #9C4203;
		}

		.color-blue {
			color: #209181;
		}

		.color-blue-light {
			color: #63BCB0;
		}

		.color-blue-midlight {
			color: #399E90;
		}

		.color-blue-middark {
			color: #0C7B6C;
		}

		.color-blue-dark {
			color: #026255;
		}

		.color-green {
			color: #45C12B;
		}

		.color-green-light {
			color: #89E176;
		}

		.color-green-midlight {
			color: #63D24C;
		}

		.color-green-middark {
			color: #2AA310;
		}

		.color-green-dark {
			color: #188202;
		}


		.transparent {
			opacity: 0.5;
			filter: alpha(opacity=50); 
		}

		.overflow-auto {
			overflow: auto;
		}

		.throw-bottom {
			vertical-align:bottom;
			border:0;
		}

		.jarallax {
			position: relative;
			z-index: 0;
		}

		.jarallax > .jarallax-img {
			position: absolute;
			object-fit: cover;
			/* support for plugin https://github.com/bfred-it/object-fit-images */
			font-family: 'object-fit: cover;';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		.navbar-inner {
			background:transparent;
		}

		.introduction {
			background-color: #E4FFD9;
		}

		.the-problem {
			background-color: #DF3244;
			padding-top: 7vh;
			height: 80vh;
			margin-bottom: 0;
		}

		.our-solution {
			background-color: #FF9900;
			padding-top: 7vh;
			height: 110vh;
		}

		.overflow-hidden { 
			overflow: hidden;
		}

		.conclusion {
			background-color: #FFC166;
			margin-top: -40vh;
			padding-top: 7vh;
			height: 90vh;
		}

		.splash {
			height: 100vh;
			width: 100%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: relative;
			background-color: #E4FFD9;
		}

		.idcard {
			margin-top: 1em;
			margin-bottom: 1em;
			padding-top: 3em;
			padding-bottom: 3em;
			padding-left: 5em;
			padding-right: 5em;

		}

		.idphoto {
			margin-bottom: 1em;
		}

	/*  ID  */
		
		#splashImage {
			padding-top: 12vh;
			padding-bottom: 2vh;
			width: 40vw;
		}

		#project-title { 
			color: #809D76;
		}

		#project-subtitle {
			color: #809D76;	
		}

		#footer { 
			background-color:  #FFC166;
		}

		#redContainer {
			background-color: #DF3244;
		}

		#orangeContainer {
			background-color: #FF9900;
		}

		#creamContainer { 
			background-color: #FFC166;
		}

		#indexnav {
			background-color: #E4FFD9;
		}

		#teambody {
			background-image: url("../images/team_background_extended.jpg");
			background-size: auto;
		}
}

/*MOBILE LANDSCAPE*/
@media only screen and (max-width: 736px) and (orientation: landscape) {
	/*  TAGS  */
		body {
			margin-top: 0px;
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			padding: 0px;
		}

		/*https://codepen.io/daviddarnes/pen/OgaRYw*/
		h2 {
			text-decoration: underline wavy;
			text-decoration-color: #ffc823;
		}

	/*  CLASS  */
		.navbar-color {
			background-color: #DF3243;
		}

		.background-red {
			background-color: #F35867;
		}

		.background-orange {
			background-color: #E77E34;
		}

		.background-blue {
			background-color: #209181;
		}

		.background-green {
			background-color: #63D24C;
		}

		.background-green-light{
			background-color: #89E176;
		}

		.text-red {
			color: #DF3243 !important;
		}

		.text-red-light {
			color: #F9828D !important;
		}

		.text-orange {
			color: #E77E34 !important;
		}

		.text-orange-light {
			color: #FFB886 !important;
		}

		.text-blue {
			color: #209181 !important;
		}

		.text-blue-light {
			color: #63BCB0 !important;
		}

		.text-green {
			color: #63D24C !important;
		}

		.text-green-light {
			color: #89E176 !important;
		}

		.color-red {
			color: #DF3243;
		}

		.color-red-light {
			color: #F9828D;
		}

		.color-red-midlight {
			color: #F35867;
		}

		.color-red-middark {
			color: #BD1323;
		}

		.color-red-dark {
			color: #960311;
		}

		.color-orange {
			color: #E77E34;
		}

		.color-orange-light {
			color: #FFB886;
		}

		.color-orange-midlight {
			color: #FB9D5B;
		}

		.color-orange-middark {
			color: #C45D14;
		}

		.color-orange-dark {
			color: #9C4203;
		}

		.color-blue {
			color: #209181;
		}

		.color-blue-light {
			color: #63BCB0;
		}

		.color-blue-midlight {
			color: #399E90;
		}

		.color-blue-middark {
			color: #0C7B6C;
		}

		.color-blue-dark {
			color: #026255;
		}

		.color-green {
			color: #45C12B;
		}

		.color-green-light {
			color: #89E176;
		}

		.color-green-midlight {
			color: #63D24C;
		}

		.color-green-middark {
			color: #2AA310;
		}

		.color-green-dark {
			color: #188202;
		}

		.transparent {
			opacity: 0.5;
			filter: alpha(opacity=50); 
		}

		.overflow-auto {
			overflow: auto;
		}

		.throw-bottom {
			vertical-align:bottom;
			border:0;
		}

		.jarallax {
			position: relative;
			z-index: 0;
		}

		.jarallax > .jarallax-img {
			position: absolute;
			object-fit: cover;
			font-family: 'object-fit: cover;';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		.introduction {
			background-color: #E4FFD9;
		}

		.the-problem {
			background-color: #DF3244;
			padding-top: 7vh;
			height: 100vh;
			margin-bottom: 0;
		}


		.our-solution {
			background-color: #FF9900;
			padding-top: 7vh;
			height: 120vh;
		}

		.overflow-hidden { 
			overflow: hidden;
		}

		.conclusion {
			background-color: #FFC166;
			margin-top: -55vh;
			padding-top: 7vh;
			height: 90vh;
		}

		.splash {
			height: 100vh;
			width: 100%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: relative;
			background-color: #E4FFD9;
		}

		.idcard {
			margin-top: 1em;
			margin-bottom: 1em;
			padding-top: 3em;
			padding-bottom: 3em;
			padding-left: 5em;
			padding-right: 5em;

		}

		.idphoto {
			margin-bottom: 1em;
		}

	/*  ID  */
		
		#splashImage {
			padding-top: 10vh;
			padding-bottom: 2vh;
			width: 15vw;
		}

		#project-title { 
			color: #809D76;
		}

		#project-subtitle {
			color: #809D76;	
		}

		#footer { 
			background-color:  #FFC166;
		}

		#redContainer {
			background-color: #DF3244;
		}

		#orangeContainer {
			background-color: #FF9900;
		}

		#indexnav {
			background-color: #E4FFD9;
		}

		#teambody {
			background-image: url("../images/team_background_extended.jpg");
			background-size: cover;
		}
}

/*DESKTOP OR TABLET*/
@media only screen and (min-width: 737px) {
	/*  TAGS  */

		body {
			margin-top: 0px;
			margin-left: 0px;
			margin-right: 0px;
			margin-bottom: 0px;
			padding: 0px;
		}

		/*https://codepen.io/daviddarnes/pen/OgaRYw*/
		h2 {

			text-decoration: none;
			position: relative;
			padding-bottom: .5em;
			overflow: hidden;
			text-decoration: underline;
			text-decoration-style: wavy;
			text-decoration-color: #ffc823;
		}

	/*  CLASS  */

		.navbar-color {
			background-color: #DF3243;
		}

		.background-red {
			background-color: #F35867;
		}

		.background-orange {
			background-color: #E77E34;
		}

		.background-blue {
			background-color: #209181;
		}

		.background-green {
			background-color: #63D24C;
		}

		.background-green-light{
			background-color: #89E176;
		}

		.text-red {
			color: #DF3243 !important;
		}

		.text-red-light {
			color: #F9828D !important;
		}

		.text-orange {
			color: #E77E34 !important;
		}

		.text-orange-light {
			color: #FFB886 !important;
		}

		.text-blue {
			color: #209181 !important;
		}

		.text-blue-light {
			color: #63BCB0 !important;
		}

		.text-green {
			color: #63D24C !important;
		}

		.text-green-light {
			color: #89E176 !important;
		}

		.color-red {
			color: #DF3243;
		}

		.color-red-light {
			color: #F9828D;
		}

		.color-red-midlight {
			color: #F35867;
		}

		.color-red-middark {
			color: #BD1323;
		}

		.color-red-dark {
			color: #960311;
		}

		.color-orange {
			color: #E77E34;
		}

		.color-orange-light {
			color: #FFB886;
		}

		.color-orange-midlight {
			color: #FB9D5B;
		}

		.color-orange-middark {
			color: #C45D14;
		}

		.color-orange-dark {
			color: #9C4203;
		}

		.color-blue {
			color: #209181;
		}

		.color-blue-light {
			color: #63BCB0;
		}

		.color-blue-midlight {
			color: #399E90;
		}

		.color-blue-middark {
			color: #0C7B6C;
		}

		.color-blue-dark {
			color: #026255;
		}

		.color-green {
			color: #45C12B;
		}

		.color-green-light {
			color: #89E176;
		}

		.color-green-midlight {
			color: #63D24C;
		}

		.color-green-middark {
			color: #2AA310;
		}

		.color-green-dark {
			color: #188202;
		}

		.transparent {
			opacity: 0.5;
			filter: alpha(opacity=50); 
		}
		.overflow-auto {
			overflow: auto;
		}

		.throw-bottom { 
			vertical-align:bottom;
			border:0;
		}

		.jarallax {
			position: relative;
			z-index: 0;
		}

		.jarallax > .jarallax-img {
			position: absolute;
			object-fit: cover;
			/* support for plugin https://github.com/bfred-it/object-fit-images */
			font-family: 'object-fit: cover;';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		.introduction {
			background-color: #E4FFD9;
		}

		.the-problem {
			background-color: #DF3244;
			padding-top: 5vh;
			height: 30vh;
			margin-bottom: 0;
		}

		.our-solution {
			background-color: #E77E34;
			padding-top: 5vh;
			height: 50vh;
			margin-bottom: 0;
		}

		.overflow-hidden { 
			overflow: hidden;
		}

		.conclusion {
			background-color: #209181;
			margin-top: -18vh;
			padding-top: 5vh;
			height: 50vh;
			overflow: hidden;
		}

		.splash {
			height: 100vh;
			width: 100%;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
			position: relative;
			background-color: #E4FFD9;
		}

		.wavy {
			text-decoration-style: 
		}

		.idcard {
			margin-top: 1em;
			margin-bottom: 1em;
			padding-top: 3em;
			padding-bottom: 3em;
			padding-left: 5em;
			padding-right: 5em;
			transition: .8s;
			transform: scale(1.00, 1.00);
		}

		.idcard:hover {
			transition: .5s;
			transform: scale(1.02, 1.02);
		}

		.idphoto {
			margin-bottom: 1em;
		}

		.header-title {
			margin-top: 3em;
		}

		.header-paragraph {
			margin-bottom: 5em;
		}

	/*  ID  */

		#splashImage {  
			padding-top: 10vh;
			padding-bottom: 2vh;
			width: 15vw;
		}

		#project-title { 
			color: #809D76;
		}

		#project-subtitle {
			color: #809D76;	
		}

		#footer { 
			background-color:  #FFC166;
		}

		#redContainer {
			background-color: #DF3244;
		}

		#orangeContainer {
			background-color: #FF9900;
		}

		#indexnav {
			background-color: #E4FFD9;
		}

		#teambody {
			background-image: url("../images/team_background_extended.jpg");
			background-size: cover 100%;
		}
}
